*{
    margin: 0;
    padding: 0;
}

.gameHeading{
    margin-top: 40px;
    font-size: 80px;
    color: #fe7f2d;
}

body{
    background-color: #353535;
    color: white;
    text-align: center;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 45vmin;
    width: 45vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 100px;
    width: 100px;
    font-size: 60px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #16425b;
    background-color: #d0f4de;
}

.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #04151f;
    color: #2ec4b6;
    border-radius: 1rem;
}

.newGame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #2ec4b6;
    border-radius: 1rem;
}

.winMsg{
    color: #219ebc;
    font-size: 50px;
    margin-top: 125px;
    margin-bottom: 100px;
}

.hide{
    display: none;
}

.msgContainer{
    height: 80vmin;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
}